@charset "utf-8";
*{
	padding:0px;
	margin:0px;
	}
#wrapper{
	width:1024px;
	height:800px;
	margin-left:auto;
	margin-right:auto;
	text-align:center;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	}
#header{
	margin-top:100px;
	color:#090;
	font-size:36px;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	margin-bottom:20px;
	}	

#footer{
	height:80px;
	text-align:center;
	}
.text{
	width:450px;
	font-size:16px;
	height:30px;
	border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	-webkit-border-radius:5px;
	padding-left:8px;
	}
#block {
	height:220px;
	}
#submit{
	height:32px;
	border-radius:5px;
	-moz-border-radius:5px;
	-ms-border-radius:5px;
	-o-border-radius:5px;
	-webkit-border-radius:5px;
	padding-left:8px;padding-right:8px;
	font-size:16px;
	cursor:pointer;
	}
input {
  -webkit-box-shadow: inset 2px 2px 2px 0px #dddddd;
  -moz-box-shadow: inset 2px 2px 2px 0px #dddddd;
  box-shadow: inset 2px 2px 2px 0px #dddddd;
}